RewriteEngine on
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Production environment
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SetEnvIf Host .*vadymp.local.* MAGE_RUN_CODE=base
SetEnvIf Host .*vadymp.local.* MAGE_RUN_TYPE=website

SetEnvIf Host .*vadymp-keybay.local.* MAGE_RUN_CODE=KBDB
SetEnvIf Host .*vadymp-keybay.local.* MAGE_RUN_TYPE=website

#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Development environment
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
SetEnvIf Host .*vadymp-dev.local.* MAGE_RUN_CODE=base
SetEnvIf Host .*vadymp-dev.local.* MAGE_RUN_TYPE=website

SetEnvIf Host .*vadymp-keybay-dev.local.* MAGE_RUN_CODE=KBDB
SetEnvIf Host .*vadymp-keybay-dev.local.* MAGE_RUN_TYPE=website

RewriteCond %{REQUEST_URI} !^/pub/
RewriteCond %{REQUEST_URI} !^/setup/
RewriteCond %{REQUEST_URI} !^/update/
RewriteCond %{REQUEST_URI} !^/dev/
RewriteRule .* /pub/$0 [L]
DirectoryIndex index.php

#+++++++++++++++++++++++++++++++++
# Production environment
#+++++++++++++++++++++++++++++++++
    <Files docker-compose.yml>
        <IfVersion < 2.4>
            order allow,deny
            deny from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
    </Files>
    <Files docker-rebuild.sh>
        <IfVersion < 2.4>
            order allow,deny
            deny from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
    </Files>
    <Files docker-sync.yml>
        <IfVersion < 2.4>
            order allow,deny
            deny from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
    </Files>

#+++++++++++++++++++++++++++++++++
# Development environment
#+++++++++++++++++++++++++++++++++
    <Files docker-compose-dev.yml>
        <IfVersion < 2.4>
            order allow,deny
            deny from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all denied
        </IfVersion>
    </Files>
